version: '3.8'

services:
  #tempo
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml", "-config.expand-env=true" ]
    volumes:
      - ./data/tempo:/tmp/tempo
      - ./logs/tempo:/var/log/tempo
      - ./conf/tempo.yml:/etc/tempo.yaml
    expose:
      - "3200"   # Grafana 쿼리용
      - "4318"   # Spring OTLP HTTP
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul
    healthcheck:
      test: [ "CMD", "sh", "-c", "wget --quiet --tries=1 --spider http://localhost:3200/ready && wget --quiet --tries=1 --spider http://localhost:4318/ready" ]
      interval: 30s
      timeout: 10s
      retries: 3
    env_file:
      - .env

  # Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    networks:
      - monitoring
    restart: unless-stopped

  # Grafana
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    networks:
      - monitoring
    restart: unless-stopped
    depends_on:
      - prometheus

networks:
  monitoring:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data:
